apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: ajibadeapi
  namespace: argocd
spec:
  project: default

  source:
    repoURL: https://github.com/ajibade-lab/WalureProject.git
    targetRevision: main
    path: manifests/ajibadeapi

  destination:
    server: https://kubernetes.default.svc
    namespace: default

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
