name: CI - Build and Push to ACR

on:
  push:
    branches:
      - main

permissions:
  contents: write

env:
  IMAGE_NAME: ajibadeapi
  IMAGE_TAG: ${{ github.sha }}
  MANIFEST_PATH: manifests/ajibadeapi/deployment.yaml
  DOCKERHUB_REPO: ${{ secrets.DOCKERHUB_USERNAME }}/ajibadeapi

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Test CI
        run: echo "CI is working"

  build:
    runs-on: ubuntu-latest
    needs: test

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        run: |
          docker build \
            -t $DOCKERHUB_REPO:$IMAGE_TAG .\
            ajibadeapi

          docker push $DOCKERHUB_REPO:$IMAGE_TAG

      - name: Debug workspace
        run: |
          pwd
          ls -R

      - name: Update Kubernetes manifest
        run: |
          sed -i "s|image: .*|image: $DOCKERHUB_REPO:$IMAGE_TAG|" $MANIFEST_PATH

