name: CI - Build and Push to ACR

on:
  push:
    branches:
      - main

env:
  IMAGE_NAME: ajibadeapi
  IMAGE_TAG: ${{ github.sha }}
  MANIFEST_PATH: manifests/ajibadeapi/deployment.yaml

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Test CI
        run: echo "CI is working"

  build:
    runs-on: ubuntu-latest
    needs: test

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Azure Container Registry
        uses: azure/docker-login@v1
        with:
          login-server: ${{ secrets.ACR_LOGIN_SERVER }}
          username: ${{ secrets.ACR_USERNAME }}
          password: ${{ secrets.ACR_PASSWORD }}

      - name: Debug workspace
        run: |
          pwd
          ls -R

      - name: Build and push Docker image
        run: |
          docker build \
            -t ${{ secrets.ACR_LOGIN_SERVER }}/${{ env.IMAGE_NAME }}:${{ env.IMAGE_TAG }} \
            ajibadeapi

          docker push ${{ secrets.ACR_LOGIN_SERVER }}/${{ env.IMAGE_NAME }}:${{ env.IMAGE_TAG }}

      - name: Update manifest image tag
        run: |
          sed -i "s|image: .*|image: ${{ secrets.ACR_LOGIN_SERVER }}/${{ env.IMAGE_NAME }}:${{ env.IMAGE_TAG }}|" $MANIFEST_PATH


